div.my-child-component {
    border: 1px solid gray;
	padding: 5px;
	background-position: right top;
    background-image: url('../../assets/everiscodefestlogo.jpg');
    background-repeat: no-repeat;
    background-size: 120px;
}
div.password-container>input {
    margin-right: 10px;
    border: 1px solid black;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border-radius: 6px;
}

div.password-container {
	width: 30%;
  	margin: 0 auto;
}

div.my-child-component>input:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
div.password {
    height: 10px;
    width: 181px;
	border: 1px solid black;
	border-radius: 6px;
    display: inline-block;
}

button.block-button {
    background: darkgreen;
	padding: 10px 15px 8px 15px;
	border: none;
	color: #fff;
	border-radius: 7px;
	box-shadow: 0 3px 0 rgb(85, 170, 126);
	top: 0px;
	transition: all ease 0.3s;
	position: relative;
}

button.block-button:hover {
	cursor: pointer;
}

button.block-button:active {
	box-shadow: 0 3px 0 rgb(85, 170, 126);
  	top: 3px;
}

button.block-button:focus {
	outline: none;
}